.bad   {
	background-color: #FFB2B2;
}

.date {
    text-align: right;
}

.good   {
	background-color: #99E699;
}

.service {
    background-color: #A9BCF5;
}

.standby {
    background-color: #CEECF5;
}

#markedDates {
    display: none;
}

#year {
    display: none;
}

#month {
    display: none;
}

#master {
    display: none;
}