body {
    padding: 10px;
    font-family: Verdana;
    font-size: 10pt;
    line-height: 150%;
}

input {
    font-family: Verdana;
    font-size: 10pt;
}

table {
    font-size: 10pt;
    border-spacing: 0px;
}

th, td {
    text-align: left;
    padding: 10px;
    vertical-align: middle;
}

.center {
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -250px;
}

#loginResponse {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 40px 0 0 -250px;
}