#today .dueDate {
    display: none;
}

#tomorrow .dueDate {
    display: none;
}

#dayAfterTomorrow .dueDate {
    display: none;
}

#noDueDate .dueDate {
    display: none;
}

#toDoInput {
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid lightslategray;
}