.idea/*.xml
.idea/*.iml
.idea/.name
.idea/scopes/*.xml

Data
master

LaTeX/*.4ct
LaTeX/*.4tc
LaTeX/*.aux
LaTeX/*.bbl
LaTeX/*.blg
LaTeX/*.brf
LaTeX/*.dvi
LaTeX/*.idx
LaTeX/*.ilg
LaTeX/*.ind
LaTeX/*.lof
LaTeX/*.lol
LaTeX/*.log
LaTeX/*.lot
LaTeX/*.lpr
LaTeX/*.nlo
LaTeX/*.nls
LaTeX/*.out
LaTeX/*.pdf
LaTeX/*.synctex.gz
LaTeX/*.tmp
LaTeX/*.toc
LaTeX/*.tps
LaTeX/*.xref

v2/.idea/*

PHP/Password.php
